.catalog {
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     .has {
          .no_results {
               display: none;
          }
     }

     ul {
          margin: 0 auto;
          padding: 0;
          display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
          display: -ms-flexbox;           /* TWEENER - IE 10 */
          display: -webkit-flex;          /* NEW - Chrome */
          display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
               width: 100%;
               max-width: 300px;
               margin:10px auto;
               list-style-type: none;
               background: #ffffff;
               border-radius: 3px;
          }
          div {
               width: 100%;
               margin:0 auto;
               padding: 0 0.5rem 0.5rem;
               box-sizing: border-box;
          }
          img {
               width:100%;
               max-width: 100%;
               margin: 0 auto;
          }
          span {
               display: block;
               margin-bottom: 5px;
               box-sizing:border-box;
               padding: 0 10px;
               text-align: left;
               em {
                    font-family: Georgia,Times,"Times New Roman",serif;
                    font-style: normal;
                    font-weight: bold;
               }
          }
          &:after {
               content: '';
              flex: auto;
              width: 100%;
              max-width: 300px;
              margin: 10px;
              list-style-type: none;
              background: none;
              border-radius: 3px;
          }
     }
     .hasNot {
          .no_results {
               display: block;
          }
          ul {
               display:none;
          }
     }

     form {
          display: block;
          border-radius: 3px;
          background: #3F602B;
          max-width: 400px;
          padding: 1rem 0;
          margin: 2rem auto 1rem;
          box-sizing: border-box;
          label {
               font-weight:bold;
               color:#ffffff;
               font-size: 21px;
          }
     }

     input[type="text"] {
          display:block;
          border: 1px solid #000000;
          box-shadow: inset 0px 0px 10px rgba(0,0,0,0.15);
          background: #ffffff;
          text-align:center;
          color:#000000;
          font-size:14px;
          box-sizing: border-box;
          padding: 5px;
          line-height:1.75;
          width: 300px;
          height: 45px;
          margin:0.5rem auto;
          cursor:pointer;
     }

     input[type="submit"] {
          border-radius: 5px;
          display:inline-block;
          vertical-align: middle;
          box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
          background: #282c34;
          border :none;
          text-align:center;
          color:#ffffff;
          font-size:14px;
          text-transform: uppercase;
          font-weight: bold;
          box-sizing: border-box;
          padding: 5px 34px;
          line-height:1.75;
          width: 175px;
          height: 45px;
          margin:0 5px 0 auto;
          transition:500ms background;
          cursor:pointer;
          font-family: Georgia,Times,"Times New Roman",serif;
          &:hover {
               background: #ffffff;
               color:#4A7023;
          }
     }
     input[type="button"] {
          border-radius: 5px;
          background: #ffffff;
          color:#000000;
          display:inline-block;
          vertical-align: middle;
          border :none;
          text-align:center;
          font-size:14px;
          text-transform: uppercase;
          font-weight: bold;
          box-sizing: border-box;
          padding: 5px 22px;
          line-height:1.75;
          width: 100px;
          height: 45px;
          margin:0 auto 0 5px;
          transition:500ms background;
          cursor:pointer;
          font-family: Georgia,Times,"Times New Roman",serif;
          &:hover {
               background: #282c34;
               color:#4A7023;
          }
     }

     @media all and (min-width: 768px) {
          ul {
               li{
                    margin:10px;
               }
          }
     }

}